@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');
$clr-uno: rgb(233, 164, 164);
$clr-dos: rgb(245, 221, 142);
$clr-tres: rgb(89, 201, 177);
$clr-cuatro: rgb(232, 177, 249);
$clr-cinco: rgb(255, 191, 127);
$clr-prim: white;
$clr-sec: rgb(235, 229, 247);
$font-grd: 40px;
$font-med: 28px;
$font-3oct: 20px;
$font-ch: 15px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;
}


.header {
    background-color: $clr-sec;

    .nav {
        display: flex;
        background-color: $clr-sec;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
    }

    .menu {
        height: 80px;
        display: flex;
        flex-direction: row;
        background-color: $clr-sec;
        list-style: none;
        padding: 53px 0 0 0;
        text-align: center;
    }

    .menu-item {
        // padding: 40px 0px;
        color: black;
        width: max-content;
    }

    .menu-link {
        text-decoration: none;
        font-size: $font-ch;
        color:black;
        padding: 20px;
    }

    .menu-link:hover{
        background-color: rgb(9, 49, 68);
        color: rgb(255, 170, 0);
    }

    .inicio {
        // background-color: $clr-uno;
        background-image: url(../img/inicio.jpg);
        background-repeat: no-repeat;
        background-size: 270px 94px;
        padding: 50px 32px 25px 39px;
        justify-content: center;
    }

    .citas {
        background-color: $clr-dos;
    }

    .galeria {
        background-color: $clr-tres;
    }

    .videos {
        background-color: $clr-cuatro;
    }

    .comentarios {
        background-color: $clr-cinco;
    }
}

.main {
    background-color: $clr-sec;
    // display: flex;
    // flex-direction: column;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    // modificado
    top: 0px;

    .contenedor1 {
        // width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        background-color: $clr-prim;
        position: relative;
        // left: calc(100% - 95%);


        .imagen {
            display: flex;
            justify-content: center;
        }

        .paseador {
            width: 490px;
            height: 420px;
        }

        .subcontenedor {
            display: flex;
            flex-direction: column;
        }

        .paja-titulo {
            display: flex;
            width: 100%;
            justify-content: center;
            position: relative;
            font-size: $font-med;
            color: black;
            line-height: 95px;
        }

        .paja-contenido {
            display: flex;
            text-align: justify;
            width: 90%;
            position: relative;
            left: calc(100% - 95%);
        }
    }

    .contenedor2 {
        // width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        background-color: $clr-prim;
        position: relative;
        // left: calc(100% - 95%);


        .imagen {
            display: flex;
            justify-content: center;
        }

        .mapachito {
            width: 490px;
            height: 420px;
        }

        .subcontenedor {
            display: flex;
            flex-direction: column;
        }

        .paja-titulo {
            display: flex;
            width: 100%;
            justify-content: center;
            position: relative;
            font-size: $font-med;
            color: black;
            line-height: 95px;
        }

        .paja-contenido {
            display: flex;
            text-align: justify;
            width: 90%;
            position: relative;
            left: calc(100% - 95%);
        }
    }

    .contenedor3 {
        // width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        background-color: $clr-prim;
        position: relative;
        // left: calc(100% - 95%);


        .imagen {
            display: flex;
            justify-content: center;
        }

        .entrenador {
            width: 490px;
            height: 420px;
        }

        .subcontenedor {
            display: flex;
            flex-direction: column;
        }

        .paja-titulo {
            display: flex;
            width: 100%;
            justify-content: center;
            position: relative;
            font-size: $font-med;
            color: black;
            line-height: 95px;
        }

        .paja-contenido {
            display: flex;
            text-align: justify;
            width: 90%;
            position: relative;
            left: calc(100% - 95%);
        }
    }

    .contenedor4 {
        // width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        background-color: $clr-prim;
        position: relative;
        // left: calc(100% - 95%);


        .imagen {
            display: flex;
            justify-content: center;
        }

        .contacto {
            width: 490px;
            height: 550px;
        }

        .subcontenedor {
            display: flex;
            flex-direction: column;
        }

        .paja-titulo {
            display: flex;
            width: 100%;
            justify-content: center;
            position: relative;
            font-size: $font-med;
            color: black;
            line-height: 95px;
        }

        .paja-contenido {
            display: flex;
            text-align: justify;
            width: 90%;
            position: relative;
            left: calc(100% - 95%);
        }
    }


}

.footer {
    display: flex;
    justify-content: center;
    top: 50px;
}



@media only screen and (max-width:600px) {

    .header {

        .nav {
            height: 480px;
            display: flex;
            flex-direction: column;
            background-color: $clr-sec;
            align-items: center;
        }

        .menu {
            width: 280px;
            height: 400px;
            display: flex;
            flex-direction: column;
            background-color: $clr-prim;
            list-style: none;
            align-items: center;

            padding-top: 10px;
            // text-align: center;
        }

        .menu-item {
            margin: 0 auto;
            // height: 400px;
            padding: 30px 0px;
            color: black;
        }

        .menu-link {
            text-decoration: none;
            font-size: $font-ch;
            color: black;
            width: 280px;
            // padding: 20px;

        }

        .inicio {
            width: 280px;
            background-image: url(../img/inicio.jpg);
            background-repeat: no-repeat;
            background-size: 280px 100px;
            // padding: 50px 41.33px 20px 41.33px;
        }


        .citas {
            background-color: $clr-dos;
            font-size: $font-med;
            width: 100%;
            padding: 20px 94.35px 20px 94.35px;

        }

        .galeria {
            background-color: $clr-tres;
            font-size: $font-med;
            padding: 20px 79.547px 20px 79.547px;
        }

        .videos {
            background-color: $clr-cuatro;
            font-size: $font-med;
            padding: 20px 81.489px 20px 81.489px;

        }

        .comentarios {
            background-color: $clr-cinco;
            font-size: $font-med;
            padding: 20px 43.375px 20px 43.375px;
        }
    }

    .main {
        .contenedor1 {
            display: flex;
            flex-direction: column;
            width: 280px;
            // align-items: center;

            .paseador {
                width: 280px;
                height: 250px;
            }

            .paja-titulo {
                font-size: $font-3oct;
                font-weight: 300;
            }
        }

        .contenedor2 {
            display: flex;
            flex-direction: column;
            width: 280px;
            // align-items: center;

            .mapachito {
                width: 280px;
                height: 250px;
            }

            .paja-titulo {
                font-size: $font-3oct;
                font-weight: 300;
            }
        }

        .contenedor3 {
            display: flex;
            flex-direction: column;
            width: 280px;
            // align-items: center;

            .entrenador {
                width: 280px;
                height: 250px;
            }

            .paja-titulo {
                font-size: $font-3oct;
                font-weight: 300;
            }
        }

        .contenedor4 {
            display: flex;
            flex-direction: column;
            width: 280px;
            // align-items: center;

            .contacto {
                width: 280px;
                height: 320px;
            }

            .paja-titulo {
                font-size: $font-3oct;
                font-weight: 300;
            }
        }

        .footer {
            display: flex;
            justify-content: center;
        }
    }
}